Repository kat-kan/kawqa-gad-playwright, pull requests merged in 2025-01, with the labels that each got.

#128 [Issue 65] Create user using faker
  package-lock.json
  package.json
  src/api/enums/user-types.enum.ts
  src/helpers/api/create-token.helper.ts
  src/helpers/api/create-user.helper.ts
  test-data/models/user.model.ts
  test-data/shared/user.generator.ts
  tests/api/articles/articles-id-delete.spec.ts
  tests/api/articles/articles-id-patch.spec.ts
  tests/api/comments/comments-patch.spec.ts
  tests/api/quiz/quiz-questions-get.spec.ts
  tests/api/users/users-get.spec.ts
Labels: enhancement, tests

#131 Create auto-reviewers-assign
  .github/workflows/auto-reviewers-assign.yml
Labels: enhancement, GitHub-process-flow, ci

#129 [ISSUE-127]add-tests-for-gui-practise-page-simple-elements-with-ids-subpage
  src/gui/pages/practice-page.page.ts
  src/gui/pages/simple-elements-with-ids.page.ts
  src/helpers/gui/color-utils.helper.ts
  tests/gui/simple-elements/with-ids.spec.ts
Labels: tests

#149 [ISSUE-148] Modify the PATCH articles/{id} tests with title exceeding limit
  tests/api/articles/articles-id-patch.spec.ts
Labels: fix
