Repository kat-kan/kawqa-gad-playwright, pull requests merged in 2025-03, with the labels that each got.

#124 [Issue 108] Add testing unique article title on creating new article
  src/helpers/api/feature-flags.helper.ts
  test-data/shared/article.generator.ts
  tests/api/article-labels/article-labels.article.id.get.spec.ts
  tests/api/articles/article-id-put.spec.ts
  tests/api/articles/articles-post.spec.ts
Labels: tests, fix

#168 [ISSUE-167] Add setup for logging in
  .gitignore
  playwright.config.ts
  src/global-setup.ts
  src/gui/pages/base.page.ts
  src/gui/pages/games.page.ts
  src/gui/pages/hangman.page.ts
  src/gui/pages/login.page.ts
  src/gui/pages/welcome.page.ts
  src/helpers/api/create-token.helper.ts
  src/shared/fixtures/auth.ts
  src/shared/interfaces/user.interface.ts
  tests/api/articles/article-id-put.spec.ts
  tests/api/articles/articles-id-delete.spec.ts
  tests/api/articles/articles-id-patch.spec.ts
  tests/api/articles/articles-post.spec.ts
  tests/api/comments/comments-patch.spec.ts
  tests/api/comments/comments-post.spec.ts
  tests/api/login/login.spec.ts
  tests/gui/games/hangman.spec.ts
  tests/gui/setup/login.setup.ts
Labels: enhancement, chore: configuration

#162 [Issue-154] Add tests for GUI practise page - popups and alerts
  src/gui/pages/alerts.page.ts
  src/gui/pages/practice-page.page.ts
  tests/gui/popup-and-alerts/alerts.spec.ts
Labels: tests

#178 [ISSUE-160] Add agreement on commits after code review
  CONTRIBUTING.md
  docs/DECISION_LOG.md
Labels: documentation
